{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
      <!-- for admin widgets -->
     <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
</head>
<body>
    <h1>{{ title }}</h1>
    <table>
        <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
        {{ form.media }}
        <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
        {{ form.as_table }}
        <tr><td></td><td><input type="submit" value="送信"></td></tr>
        </form>
    </table>
</body>
</html>