li {
    list-style: none;
}

.header-logo {
    font-size: 50px;
    padding: 25px 10px;
    float: left;
}
.header-list li {
    float: left;
    padding: 33px 20px;
  }

.main {
    padding: 100px 80px;
  }
  
.contents {
    padding: 100px 80px;
  }

.footer{
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
  }